<p class="section-title">Wallets</p>

<div class="heading-page-actions">
  <button [routerLink]="['create']" class="add-item"
          mat-stroked-button color="primary">
    Add wallet
  </button>
</div>

<div *ngIf="wallets.length">
  <div class="cards-list wallets-layout">
    <div [routerLink]="[wallet._id, 'edit']" *ngFor="let wallet of wallets" class="layout-item">

      <p class="title">{{wallet.name}}</p>

      <div class="img-wrapper">
        <img *ngIf="wallet.imageSrc; else emptyImage" [src]="wallet.imageSrc" alt="wallet">

        <ng-template #emptyImage>
          <img src="assets/images/wallet-default.jpeg" alt="wallet image">
        </ng-template>
      </div>

      <p class="budget">{{wallet.budget}}</p>
    </div>
  </div>
</div>
