<div class="header-layout">
  <div class="layout-item item-toggle-sidenav">
    <button mat-stroked-button (click)="toggleSidebar(isOpenedSidebar = !isOpenedSidebar)">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <div class="layout-item item-money">
    <div class="money-balance">
      <p>Balance</p>
      <span>{{balance}}</span>
    </div>

    <div class="money-expenses">
      <p>Expenses</p>
      <span>{{expenses}}</span>
    </div>

    <div class="money-planed">
      <p>Planed</p>
      <span>0</span>
    </div>
  </div>

  <div class="layout-item item-add-money">
    <button mat-stroked-button (click)="addIncome()">
      <mat-icon>account_balance_wallet</mat-icon>
    </button>
  </div>
</div>
