@import 'variables';

.header-layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: $border;
  padding: 10px 0;

  @media screen and (max-width: 768px) {
    padding: 6px 0;
  }

  .item-money {
    display: flex;
    align-items: center;
    flex-grow: 1;

    > div {
      padding: 0 10px;
      flex-grow: 1;
      text-align: center;

      p {
        color: $muted-color;
        margin: 0 0 6px;
      }
    }
  }

  .item-toggle-sidenav,
  .item-add-money {
    padding: 0 20px;

    @media screen and (max-width: 768px) {
      padding: 0 10px;
    }

    button {
      @media screen and (max-width: 768px) {
        min-width: auto;
        padding: 0 10px;
      }
    }
  }

  .item-toggle-sidenav {
    border-right: $border;
  }

  .item-add-money {
    border-left: $border;
  }
}
