.primary-modal {
  width: 100%;
  border-radius: 0;
  position: relative;
  max-width: 450px !important;
  overflow-y: auto;

  .mat-dialog-container {
    border-radius: 3px;
    padding: 0;
    background-color: $light-background;


    input:-webkit-autofill {
      -webkit-box-shadow: inset 0 0 0 50px $light-background;
      -webkit-text-fill-color: $light-color;
    }
  }

  .dialog-content {
    padding: 6px 18px 24px;
    p {
      color: $primary-text-color;
    }
  }
}
