<app-modal-header [title]="'Select wallet'"></app-modal-header>

<div class="dialog-content modal-wallets-list">
  <p class="text-center">Select wallet where money comes from</p>

  <div class="cards-list modal-select-wallet-layout">
    <div *ngFor="let wallet of data"
         (click)="selectWallet(wallet)"
         class="layout-item"
         [class.disabled]="wallet.budget < 1">

      <p class="title">{{wallet.name}}</p>

      <div class="img-wrapper">
        <img *ngIf="wallet.imageSrc; else emptyImage" [src]="wallet.imageSrc" alt="wallet">

        <ng-template #emptyImage>
          <img src="../../../assets/images/wallet-default.jpeg" alt="wallet image">
        </ng-template>
      </div>

      <p class="budget">{{wallet.budget}}</p>
    </div>
  </div>

  <mat-dialog-actions align="center">
    <button mat-raised-button [mat-dialog-close]="false">
      Cancel
    </button>
  </mat-dialog-actions>
</div>
