@import "../../../../styles/variables";

.side-bar-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-color: $primary-background;

  ul {
    li {
      .title {
        text-align: center;
        font-size: 16px;
        color: $primary-text-color;
      }

      a {
        padding: 12px 14px;
        display: block;
        color: $primary-link-color;
        border-left: 4px solid transparent;
      }

      &.active a,
      a:hover {
        background-color: $muted-background;
        border-left-color: $accent-background;
        color: $primary-link-hover-color;
      }
    }
  }

  button {
    width: 100%;
    margin: 0 auto 20px;
  }
}

.mat-drawer-container {
  background-color: $light-background;

  .mat-drawer-content {
    padding: 0;

    .container {
      padding: 20px;
    }
  }
}
