<mat-drawer-container class="example-container">
  <mat-drawer mode="side" [(opened)]="isOpenedSidebar">
    <div class="side-bar-layout">
      <ul>
        <li class="user">
          <p class="name" *ngIf="profile$ | async as profile">{{profile.name}}</p>
        </li>

        <li *ngFor="let link of links" routerLinkActive="active">
          <a [routerLink]="[link.url]">{{link.name}}</a>
        </li>
      </ul>

      <button mat-raised-button color="accent" (click)="logout($event)">Log out</button>
    </div>
  </mat-drawer>

  <mat-drawer-content>
    <app-header (onToggleSidebar)="onToggleSidebar($event)" [isOpenedSidebar]="isOpenedSidebar"></app-header>

    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
