@import "../../../../styles/variables";

.side-bar-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-color: $accent-background;

  ul {
    li {
      .title {
        text-align: center;
        font-size: 16px;
        color: $light-text-color;
      }

      a {
        padding: 12px 14px;
        display: block;
        color: $light-text-color;
        border-left: 4px solid transparent;
      }

      &.active a,
      a:hover {
        background-color: $accent-hover-background;
        border-left-color: $muted-background;
      }
    }
  }

  button {
    width: 100%;
    margin: 0 auto 20px;
  }
}
