@import "../../../styles/variables";

.add-category {
  display: flex;
  flex-direction: column;
  margin: 15px;
  max-width: calc(25% - 30px);
  width: 100%;
  min-height: 280px;
  box-shadow: $primary-box-shadow;
  align-items: center;
  justify-content: center;
}
