.modal-add-income {
  .wallets-layout {
    .layout-item {
      margin: 10px;
      max-width: calc(50% - 20px);
      opacity: 0.4;
      transition: opacity 0.2s;

      @media screen and (max-width: 576px) {
        margin: 6px;
        max-width: calc(100% - 12px);
      }

      &.selected {
        opacity: 1;
        transition: opacity 0.2s;
      }
    }
  }
}
