<app-modal-header [title]="data.title"></app-modal-header>

<div class="dialog-content modal-wallets-list">
  <p class="text-center">{{data.type}}</p>

  <div class="cards-list modal-add-income-layout">
    <div *ngFor="let wallet of data.wallets"
         (click)="selectWallet(wallet)"
         class="layout-item"
         [class.selected]="selectedWallet?._id === wallet._id">

      <p class="title">{{wallet.name}}</p>

      <div class="img-wrapper">
        <img *ngIf="wallet.imageSrc; else emptyImage" [src]="wallet.imageSrc" alt="wallet">

        <ng-template #emptyImage>
          <img src="assets/images/wallet-default.jpeg" alt="wallet image">
        </ng-template>
      </div>

      <p class="budget">{{wallet.budget}}</p>
    </div>
  </div>

  <form [formGroup]="form" (ngSubmit)="addIncome()">
    <mat-form-field>
      <input matInput placeholder="Account balance:" formControlName="budget" required>
      <mat-error>
        <app-validator-message [field]="form.get('budget')"></app-validator-message>
      </mat-error>
    </mat-form-field>
  </form>

  <mat-dialog-actions align="center">
    <button mat-raised-button [mat-dialog-close]="false">
      Cancel
    </button>

    <button mat-raised-button color="primary" [disabled]="form.disabled" (click)="addIncome()">
      Add
    </button>
  </mat-dialog-actions>
</div>
