<div *ngIf="categories$ | async as categories; else loader">
  <div class="card-list-layout" *ngIf="categories.length !==0; else empty">
    <a [routerLink]="[category._id, 'edit']"
       *ngFor="let category of categories" class="layout-item">

      <p class="title">{{category.name}}</p>

      <div class="img-wrapper">
        <img *ngIf="category.imageSrc; else noImage" src="{{category.imageSrc}}" alt="category">

        <ng-template #noImage>
          <mat-icon>photo_camera</mat-icon>
        </ng-template>
      </div>

      <p class="budget">{{category.budget}}</p>
    </a>

    <button [routerLink]="['create']" class="layout-item"
            mat-stroked-button color="primary">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <ng-template #empty>
    <button [routerLink]="['create']" class="add-category"
            mat-stroked-button color="primary">
      <mat-icon>add</mat-icon>
    </button>
  </ng-template>
</div>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
