<div class="heading-page-actions">
  <button [routerLink]="['create']" class="add-item"
          mat-stroked-button color="primary">
    Add category
  </button>
</div>

<div *ngIf="categories.length; else loader">
  <div class="cards-list categories-layout" *ngIf="categories.length !==0">
    <a [routerLink]="[category._id, 'edit']"
       *ngFor="let category of categories" class="layout-item">

      <p class="title">{{category.name}}</p>

      <div class="img-wrapper">
        <img *ngIf="category.imageSrc; else noImage" src="{{category.imageSrc}}" alt="category">

        <ng-template #noImage>
          <img src="assets/images/category-default.jpeg" alt="category image">
        </ng-template>
      </div>
    </a>
  </div>
</div>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
