<div *ngIf="wallets$ | async as wallets">
  <div class="wallets-layout">
    <a [routerLink]="['/home/wallet', wallet._id, 'edit']" *ngFor="let wallet of wallets" class="wallet">

      <p class="title">{{wallet.name}}</p>

      <div class="img-wrapper">
        <img *ngIf="wallet.imageSrc; else emptyImage" [src]="wallet.imageSrc" alt="wallet">

        <ng-template #emptyImage>
          <img src="assets/images/wallet-default.jpeg" alt="wallet image">
        </ng-template>
      </div>

      <p class="budget">{{wallet.budget}}</p>
    </a>

    <button [routerLink]="['/home/wallet/create']" class="add-wallet"
            *ngIf="wallets.length < 4" mat-stroked-button color="primary">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
