.modal-wallets-list {
  .cards-list {
    .layout-item {
      margin: 10px;
      max-width: calc(50% - 20px);

      @media screen and (max-width: 576px) {
        margin: 6px;
        max-width: calc(100% - 12px);
      }
    }
  }

  .modal-add-income-layout {
    .layout-item {
      opacity: 0.6;
      filter: grayscale(100%);
      transition: all 0.2s;

      &.selected {
        opacity: 1;
        filter: grayscale(0);
        transition: all 0.2s;
      }
    }
  }

  .modal-select-wallet-layout {
    .layout-item {
      &.disabled {
        opacity: 0.6;
        filter: grayscale(100%);
        cursor: default;
        user-select: none;
        pointer-events: none;
      }
    }
  }
}
