button {
  margin-bottom: 20px;

  ::ng-deep {
    .mat-button-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;

      mat-icon {
        margin-right: 10px;
      }
    }
  }
}
