@import 'variables';

.history-layout {
  .item-expense {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    margin: 0.8rem auto;
    border-radius: $border-radius;
    box-shadow: $primary-box-shadow;
    cursor: pointer;

    .expense-date {
      margin-right: 2rem;
    }

    .expense-relation {
      .wallet {
        font-size: 1rem;
      }

      .category {
        display: block;
        color: $muted-color;
        margin-top: 0.6rem;
      }
    }

    .expense-info {
      text-align: right;
      margin: 0 2rem;
      flex-grow: 1;

      .expense {
        font-size: 1.4rem;
        color: $warn-color;
      }

      .description {
        display: block;
        color: $muted-color;
        margin-top: 0.6rem;
        font-size: 12px;
      }
    }
  }
}
