<div class="heading-page-actions">
  <app-back-btn></app-back-btn>
</div>

<p class="section-title">{{category?.name}} history</p>

<app-history-filter (onFilter)="onFilterHistory($event)"></app-history-filter>

<div class="history-layout" *ngIf="expenses.length; else empty">

  <div class="expenses-count">
    <span>Total: {{expensesCount}}</span>
  </div>

  <div class="layout-item item-expense" *ngFor="let expense of expenses" (click)="changeExpense(expense._id)">
    <span class="expense-date">{{expense?.date | date: 'dd MMMM YYYY'}}</span>

    <div class="expense-relation">
      <span class="wallet">{{wallets[expense?.wallet]?.name}}</span>
      <span class="category">{{category?.name}}</span>
    </div>

    <div class="expense-info">
      <span class="expense">- {{expense.expense}}</span>
      <span class="description" *ngIf="expense.description">{{expense.description}}</span>
    </div>

    <div class="expense-actions">
      <button type="button" color="warn" mat-icon-button (click)="deleteExpense(expense._id)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>

<ng-template #empty>
  <div class="text-center">Expenses history is empty</div>
</ng-template>
