<div class="heading-page-actions">
  <app-back-btn></app-back-btn>

  <button type="button" mat-button-base mat-stroked-button *ngIf="!isNew" (click)="onDeleteCategory()">
    <mat-icon>delete</mat-icon>
  </button>
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()" class="category-layout">
  <div *ngIf="isNew; else edit">
    <p class="section-title">Where do you spend your money?</p>
  </div>

  <ng-template #edit>
    <p class="section-title">Edit expense category</p>
  </ng-template>

  <div class="body">
    <div class="icon-wrapper" (click)="selectIcon()">
      <span *ngIf="isNew; else icon" class="icon {{iconName}}"></span>

      <ng-template #icon>
        <span class="icon {{category?.iconName}}" matRipple></span>
      </ng-template>
    </div>

    <mat-form-field>
      <input matInput placeholder="Category name:" formControlName="name" required>
      <mat-error>
        <app-validator-message [field]="form.get('name')"></app-validator-message>
      </mat-error>
    </mat-form-field>
  </div>

  <div class="footer">
    <button [disabled]="form.invalid || form.disabled" type="submit" mat-raised-button color="primary">
      Save Category
    </button>
  </div>
</form>
