<router-outlet></router-outlet>


<!--<app-history-filter (onFilter)="applyFilter($event)"></app-history-filter>-->

<!--<div *ngIf="!reloading; else reloadingBlock">-->
<!--  <div *ngIf="orders.length > 0; else empty">-->
<!--    <app-history-list [orders]="orders"></app-history-list>-->

<!--    <div *ngIf="!noMoreOrders" class="load-more">-->
<!--      <button mat-raised-button color="primary"-->
<!--              (click)="loadMore()" *ngIf="!loading; else loader">-->
<!--        Load more-->
<!--      </button>-->

<!--      <ng-template #loader>-->
<!--        <app-loader></app-loader>-->
<!--      </ng-template>-->
<!--    </div>-->
<!--  </div>-->

<!--  <ng-template #empty>-->
<!--    <div class="center">Orders list is empty</div>-->
<!--  </ng-template>-->
<!--</div>-->

<!--<ng-template #reloadingBlock>-->
<!--  <app-loader></app-loader>-->
<!--</ng-template>-->
