<p class="section-title">History</p>

<div *ngIf="categories.length; else loader">
  <div class="cards-list expenses-list-layout" *ngIf="categories.length; else empty">
    <div *ngFor="let category of categories" class="layout-item" [routerLink]="[category._id]">
      <p class="title">{{category.name}}</p>

      <div class="img-wrapper">
        <img *ngIf="category.imageSrc; else noImage" src="{{category.imageSrc}}" alt="category">

        <ng-template #noImage>
          <img src="assets/images/category-default.jpeg" alt="category image">
        </ng-template>
      </div>
    </div>
  </div>

  <ng-template #empty>
    <div class="text-center">Categories list is empty</div>
  </ng-template>
</div>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>

