<form [formGroup]="form" (ngSubmit)="onSubmit()" class="wallet-layout">
  <div class="heading-page-actions">
    <app-back-btn></app-back-btn>

    <button type="button" mat-button-base mat-stroked-button *ngIf="!isNew" (click)="deleteWallet()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>

  <div *ngIf="isNew; else edit">
    <p class="section-title">Where do you keep your money?</p>
  </div>

  <ng-template #edit>
    <p class="section-title">Edit wallet</p>
  </ng-template>

  <div class="body">
    <div class="upload-wrapper">
      <input type="file" name="file" class="input-file"
             #input (change)="onFileUpload($event)">

      <button (click)="triggerClick()" [disabled]="form.disabled"
              type="button" mat-raised-button class="btn-upload">

        <div class="img-wrapper">
          <img *ngIf="imagePreview; else emptyImage" [src]="imagePreview" alt="wallet image">

          <ng-template #emptyImage>
            <img src="assets/images/wallet-default.jpeg" alt="wallet image">
          </ng-template>
        </div>

        <mat-icon>edit</mat-icon>
      </button>
    </div>

    <mat-form-field>
      <input matInput placeholder="Wallet name:" formControlName="name" required>
      <mat-error>
        <app-validator-message [field]="form.get('name')"></app-validator-message>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Account balance:" formControlName="budget" required>
      <mat-error>
        <app-validator-message [field]="form.get('budget')"></app-validator-message>
      </mat-error>
    </mat-form-field>
  </div>

  <div class="footer">
    <button [disabled]="form.invalid || form.disabled" type="submit" mat-raised-button color="primary">
      Save wallet
    </button>
  </div>
</form>
