.upload-wrapper {
  padding: 20px;
  margin-top: 40px;

  .input-file {
    display: none;
  }

  .btn-upload {
    max-width: none;
    width: auto;
    padding: 0;

    .mat-button-wrapper {
      position: relative;
      display: flex;

      .img-wrapper {
        height: 200px;
        width: 300px;
        overflow: hidden;
        box-shadow: $primary-box-shadow;
        border-radius: $border-radius;

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }

      mat-icon {
        padding: 5px;
        position: absolute;
        top: 14px;
        right: 14px;
        background-color: $light-background;
        border-radius: $border-radius;
        width: 34px;
        height: 34px;
      }
    }
  }
}
