.page-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;

  p {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin: 0;

    .material-icons {
      font-size: 16px;
      height: 16px;
      width: 16px;
      margin: 0 8px;
    }
  }

  a {
    color: black;
    opacity: .8
  }
}

a {
  color: $primary-link-color;
  text-decoration: none;
  transition: all 0.2s;

  &:hover {
    color: $primary-link-hover-color;
    text-decoration: none;
    transition: all 0.2s;
  }
}
