$primary-text-color: #323232;
$light-text-color: #ffffff;
$muted-color: #828282;

$font-montserrat: 'Montserrat', sans-serif;

$primary-link-color: #323232;
$primary-link-hover-color: #323232;
$secondary-link-color: #ffffff;
$secondary-link-hover-color: #ffffff;

$light-background: #f2f2f2;
$primary-background: #CACAD9;
$accent-background: #202226;
$accent-hover-background: #D3601F;
$muted-background: #eccda9;

$border-radius: 6px;
$border: 1px solid #d0d0d0;

$primary-box-shadow: 0px 4px 12px #d0d0d0;

$warn-color: #F44336;
$success-color: #3fce7b;

$accent-button-color: #FFFFFF;










$accent-color: #3ADCFF;
$accent-muted-color: #0085FF;
$light-color: #ffffff;

$clinic1-color: #FEB6FF;
$clinic2-color: #FECB9E;


$muted-disabled-color: rgba(255, 255, 255, 0.42);


$primary-card-background: #323C79;
$secondary-card-background: #293372;
$dark-background: #141D3C;
